body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
    width: 40%;
    margin: auto;
}

h1, h2, h3 {
    color: #333;
}

#nome {
    text-align: center;
    color: #b30057;
}

.subtitulo {
    text-align: center;
    font-size: 1.2em;
    color: #666;
}

.foto-perfil {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #b30057;
}

.lista-contato {
    list-style: none;
    padding: 0;
}

.lista-contato li {
    margin-bottom: 5px;
}

a {
    color: #b30057;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.tabela-experiencia {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.tabela-experiencia th, .tabela-experiencia td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.tabela-experiencia th {
    background-color: #b30057;
    color: white;
}

.tabela-experiencia tr:nth-child(even) {
    background-color: #f2f2f2;
}

.lista-habilidades {
    list-style-type: square;
    padding-left: 20px;
}

section {
    margin-bottom: 60px;
}